version: '3.8'

services:
  nats:
    image: nats:latest
    container_name: nats-server
    ports:
      - "4222:4222"
      - "8222:8222"   # monitoring
      - "6222:6222"
    volumes:
      - ./nats-server.conf:/etc/nats/nats-server.conf:ro
    command: >
      -js
      -m 8222
      -c /etc/nats/nats-server.conf
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nats.rule=Host(`nats.bychilie.com`)"
      - "traefik.http.routers.nats.entrypoints=websecure"
      - "traefik.http.routers.nats.tls=true"
      - "traefik.http.routers.nats.tls.certresolver=myresolver"
      - "traefik.http.services.nats.loadbalancer.server.port=8222"
      - "com.centurylinklabs.watchtower.enable=false"

  users_db:
    image: postgres:17
    container_name: users-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    # volumes:
    #   - ./postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.enable=false"

  traefik:
    image: traefik:v2.11
    container_name: traefik
    command:
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.myresolver.acme.email=tudorovidiub@gmail.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./letsencrypt:/letsencrypt
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.bychilie.com`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.tls=true"
      - "traefik.http.routers.traefik.tls.certresolver=myresolver"
      - "com.centurylinklabs.watchtower.enable=false"

  users_api:
    image: byckilie/bsd-project-users
    container_name: users-api
    env_file:
      - ./.env.users
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.users_api.rule=Host(`users.bychilie.com`)"
      - "traefik.http.routers.users_api.entrypoints=websecure"
      - "traefik.http.routers.users_api.tls=true"
      - "traefik.http.routers.users_api.tls.certresolver=myresolver"
      - "traefik.http.services.users_api.loadbalancer.server.port=7000"
      - "com.centurylinklabs.watchtower.enable=true"
    depends_on:
      - users_db
      - nats

  email_api:
    image: byckilie/bsd-project-email
    container_name: email-api
    env_file:
      - ./.env.email
    volumes:
      - ./tokens:/app/tokens
      - ./client_secret_medi.json:/opt/client_secret.json
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    depends_on:
      - nats

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    environment:
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=60
      - WATCHTOWER_LOG_LEVEL=warn
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

# volumes:
#   postgres_data:
#     driver: local